body{
    background-color: rgb(229, 240, 236);
    font-family: ' font-family: "Playfair Display", serif;', Courier, monospace;
    {font-size: 30px;}
    align-items: center;
    margin: 50px
}
h1}
color: rgb(37, 62, 37);
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;
}
h2}
olor: rgb(37, 62, 37);
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;
    p{
    color: rgb(4, 68, 4);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: justify;
}
img{
    width: 400spx;
    display: block;
    margin: 0 auto;
}
    